<!DOCTYPE html>
<html>
<head>
<title>About wordcount</title>
<style>

h1 {
    color : orange;
    font-family: Georgia;
    font-size : 60px;
    font-style : italic;
}
body {
    background-color: #111;
    color: #999;
    text-align: center;
    font-family:'나눔명조';
    margin : 100px
}

p {
    padding-bottom : 50px;
    font-size : 120%;

}

</style>
</head>

<body>


<h1>ABOUT</h1>

<p>안녕하세요. 이곳은 글자를 세주는 워드카운트 웹페이지 입니다. <br> </p>


<a href="{%url 'home'%}" style="color:orange">BACK </a>

</body>
</html>